html, body {
    height:100%;
    backgroung:#F5E1E0;
}

.nav {
  margin: 0;
  padding: 17px 0;
  text-align: center;
  background-color: #333;
}

.nav li {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFAFA;
}

.nav a {
  color: #FFFAFA;
}

.nav li a:hover {
    text-decoration: none;
    background-color: #333;
    border-bottom:1px solid #ffc3a2;
}

header{
  height:100%;
  background: url(https://s18.postimg.org/quoppvk95/12316129_10205694724515309_775114409690333068_n.jpg);
  background-size: cover;
}

header h1 {
  margin: 70px 0px 50px 50px;
}

 .linkContainer {
  margin-left:50px;
}

.btn {
  margin: 20px auto;
  font-size: 15px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #FFF;
  color: #333333;
  display: block;
  background-color: rgba(255, 255, 255, 0.3)
}

.about {
  background: #F5E1E0;
  height: auto;
}

.imageCont{
  padding:100px 20px 50px 20px;
  margin:20px auto;
  border-bottom:2px solid white;
  max-width:900px;
}
.about img {
  display:block;
  width: 300px;
  height: auto;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  margin:0 auto;
  border-radius:50%;
  border:3px solid white;
}

.about img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.about p {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  max-width:750px;
  padding:20px;
}

.portfolio {
  display:flexbox;
  background: #FFFAFA;
  height: auto;
}

#portfolio h1 {
  padding-top: 70px;
  color: #333;
  text-align: center;
}

.portLinksCont{
  margin:0px auto;
  text-align:center;
  letter-spacing: 1.1px;
  padding:20px;
}

.portLinks {
  display:inline-block;
  width:300px;
  height:200px;
  margin:15px;
  box-shadow: 2px 2px 5px rgba(51, 51, 51, 1);
    vertical-align:top;
}

.portLinks img{
  width:300px;
  height:200px;
  transition: all .2s ease-in-out;
}

.portLinks img:hover{
  transform: scale(1.05);
}

.portLinks p{
  color:#333;
  text-transform: uppercase;
  padding-top:5px;
}
.contact {
  background-color: #9CACE0;
  height: 100%;
  text-align:center;
}

.contact h1 {
  width:325px;
  margin: 0 auto;
  padding-top:100px;
  text-align:center;
}

.contactBtn{
  max-width:500px;
  margin: 0 auto;
  text-align:center;
  border-bottom:1px solid white;
}

.contact a{
  display:block;
  width:300px;
  text-align:center;
  margin: 40px auto;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer p {
  font-size: 11px;
  margin-left: 100px;
}

@media(min-width: 620px) {
  .nav li {
    display: inline;
    text-align: right;
  }
  .nav li a {
    display: inline;
  }
  .btn {
    display: inline-block;
    margin-top: 60px;
    margin-right: 20px;
  }
}

@media(max-width:619px) {
  .nav {
    max-height: 46px;
    max-width: 56px;
    float: right;
    overflow: hidden;
  }
  .nav:hover {
    max-width: 100%;
    max-height: 100%;
    float: none;
  }
  .nav:before {
    content: '—';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 34px;
    overflow: hidden;
    height: 5px;
    padding: 3px 0 13px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 58px;
    line-height: 20px;
  }
  
  .about{
    height:auto;
  }
  
  .portfolio{
    height:auto;
  }
  
  #home h1{
    max-width:600px;
    margin:0 auto;
    padding:10px;
  }
.linkContainer{
    max-width:350px;
    margin:0 auto;
    padding:10px;
  }
}
